{% extends "base.html" %}
{% load thumbnail %}
{% load cloudinary %}
{% block body %}



<div class="album py-5 bg-light">

    <div class="container">
      
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for post in posts %}
        <div class="col">
          <div class="card shadow-sm">

            {% cloudinary post.image.url crop="scale" height=250 %}
              


            <div class="card-body">
                <p class="card-text"><b><h4>{{ post.title }}</a></b></h4> <i> <small>posted by</small> <small class="text-muted"><a href="{% url 'profiles:details' post.author%} ">{{ post.author }}</a></small></i> </p>
                <p class="card-text">{{ post.excerpt }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary btn-sm"><a href="{% url 'cimbomweb:post' post.id %}" style="color: white"><b><small>READ MORE</small></b></a></button>
                  
                </div>
                <small>{{ post.created_at }}</small>
                
              </div>
              
            </div>
           
          </div>
          
        </div>
        {% endfor %}



  <div class="container">
    {% if is_paginated %}
    <nav aria-label="Page navigation conatiner"></nav>
    <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

    {% endif %}
    </ul>
    </nav>
    {% endif %}

    </div>

    

{% endblock %}