{% extends "base.html" %}
{% load thumbnail %}
{% load cloudinary %}
{% block body %}


<div class="container">
<div class="table-responsive">
    
   
    
        <br>
    
        <table class="table">
            
            <thead>
              
              <tr>
                
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Foot</th>
                <th scope="col">Country</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              {% for player in players %}
              <tr>
                <th scope="row">{{ player.number }}</th>
                <td>{% cloudinary player.image.public_id height=90 width=90 crop="fill" %}</td>
                <td><h5>{{ player.name }}</h5></td>
                <td>{% for p in player.pos.all %}{{p}}{%endfor%}</td>
                <td>{{player.foot}}</td>
                <td>{{player.country}}</td>
                <td>{{ player.salary }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

</div>
</div>

      



      {% endblock %}

  