{%extends "base.html" %}
{% load thumbnail %}
{% block body %}


<main role="main" class="container">

    <div class="starter-template">
        <ul></ul>
      <h1>{{ post.title}}</h1>
      <uL>
    </uL>
    <i>{{ post.created_at }} - {{ post.category }}</i>
    <ul></ul>
      
      {% thumbnail post.image "1280x400" crop="center" as im %}
      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
      {% endthumbnail %}
  
      
      <ul></ul>
      <p class="lead">{{ post.body|safe }}</p>
    </div>
  
  </main><!-- /.container -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script></body>
  </html>

  {% endblock %}