{%extends "base.html" %}
{% load thumbnail %}
{% load cloudinary %}
{% block body %}
{% load static %}

<head>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<ul></ul>
<br>
<div class="container pb50">
    <div class="row">
        <div class="col-md-9 mb40">
            <article>
                <img src="{{post.image.url}}" alt="" class="img-fluid mb30">
                <div class="post-content">
                    <h3>{{ post.title}}</h3>
                    <ul class="post-meta list-inline">
                        <li class="list-inline-item">
                            <i class="fa fa-user-circle-o"></i> <a href="#">{{post.author}}</a>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-calendar-o"></i> <a href="#">{{post.created_at}}</a>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-tags"></i> <a href="#">{{post.category}}</a>
                        </li>
                    </ul>
                    <p>{{ post.body|safe }}</p>
                    
                    
                    
                    
                </div>
            </article>
            <!-- post article-->

        </div>
        <div class="col-md-3 mb40">
            <div class="mb40">
                
            </div>
            <!--/col-->
            <div class="mb40">
                
            </div>
            <!--/col-->
            <div>
                
            </div>
        </div>
    </div>
</div>

  {% endblock %}